In [51]:
import requests
import json

In [52]:
from pprint import pprint

In [53]:
import pandas as pd

In [54]:
filePath = "Gen1_List.csv"
gen1List = pd.read_csv(filePath)
gen1List

,Number,Name,Types,Type1,Type2,Height(m),Weight(kg),Male_Pct,Female_Pct,Capt_Rate,...,Poison_Dmg,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,Evolutions,Legendary
0,1,Bulbasaur,2,grass,poison,0.7,6.9,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
1,2,Ivysaur,2,grass,poison,1.0,13.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
3,4,Charmander,1,fire,None,0.6,8.5,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0
4,5,Charmeleon,1,fire,None,1.1,19.0,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,1,dragon,None,1.8,3.3,50.0,50.0,45,...,1.0,1.0,1.0,1.0,1.0,1.0,1,2,2,0
147,148,Dragonair,1,dragon,None,4.0,16.5,50.0,50.0,45,...,1.0,1.0,1.0,1.0,1.0,1.0,1,2,2,0
148,149,Dragonite,2,dragon,flying,2.2,210.0,50.0,50.0,45,...,1.0,0.0,1.0,1.0,0.5,2.0,1,2,2,0
149,150,Mewtwo,1,psychic,None,2.0,122.0,0.0,0.0,3,...,1.0,1.0,1.0,0.5,2.0,1.0,0,1,0,1
150,151,Mew,1,psychic,None,0.4,4.0,0.0,0.0,45,...,1.0,1.0,1.0,0.5,2.0,1.0,0,1,0,1

In [55]:
gen1_df = pd.DataFrame({"Pokemon": gen1List[' Name']})

In [56]:
gen1 = gen1_df['Pokemon']
gen1

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
150           Mew
Name: Pokemon, Length: 151, dtype: object

In [57]:
pokeList = []
for name in gen1:
    pokeList.append(name)

In [58]:
pokemonList = [name.lower() for name in pokeList]
pokemonList

['bulbasaur',
 'ivysaur',
 'venusaur',
 'charmander',
 'charmeleon',
 'charizard',
 'squirtle',
 'wartortle',
 'blastoise',
 'caterpie',
 'metapod',
 'butterfree',
 'weedle',
 'kakuna',
 'beedrill',
 'pidgey',
 'pidgeotto',
 'pidgeot',
 'rattata',
 'raticate',
 'spearow',
 'fearow',
 'ekans',
 'arbok',
 'pikachu',
 'raichu',
 'sandshrew',
 'sandslash',
 'nidoran-f',
 'nidorina',
 'nidoqueen',
 'nidoran-m',
 'nidorino',
 'nidoking',
 'clefairy',
 'clefable',
 'vulpix',
 'ninetales',
 'jigglypuff',
 'wigglytuff',
 'zubat',
 'golbat',
 'oddish',
 'gloom',
 'vileplume',
 'paras',
 'parasect',
 'venonat',
 'venomoth',
 'diglett',
 'dugtrio',
 'meowth',
 'persian',
 'psyduck',
 'golduck',
 'mankey',
 'primeape',
 'growlithe',
 'arcanine',
 'poliwag',
 'poliwhirl',
 'poliwrath',
 'abra',
 'kadabra',
 'alakazam',
 'machop',
 'machoke',
 'machamp',
 'bellsprout',
 'weepinbell',
 'victreebel',
 'tentacool',
 'tentacruel',
 'geodude',
 'graveler',
 'golem',
 'ponyta',
 'rapidash',
 'slowpoke',
 'slowbro',
 'magnemite',
 'magneton',
 'farfetchd',
 'doduo',
 'dodrio',
 'seel',
 'dewgong',
 'grimer',
 'muk',
 'shellder',
 'cloyster',
 'gastly',
 'haunter',
 'gengar',
 'onix',
 'drowzee',
 'hypno',
 'krabby',
 'kingler',
 'voltorb',
 'electrode',
 'exeggcute',
 'exeggutor',
 'cubone',
 'marowak',
 'hitmonlee',
 'hitmonchan',
 'lickitung',
 'koffing',
 'weezing',
 'rhyhorn',
 'rhydon',
 'chansey',
 'tangela',
 'kangaskhan',
 'horsea',
 'seadra',
 'goldeen',
 'seaking',
 'staryu',
 'starmie',
 'mr-mime',
 'scyther',
 'jynx',
 'electabuzz',
 'magmar',
 'pinsir',
 'tauros',
 'magikarp',
 'gyarados',
 'lapras',
 'ditto',
 'eevee',
 'vaporeon',
 'jolteon',
 'flareon',
 'porygon',
 'omanyte',
 'omastar',
 'kabuto',
 'kabutops',
 'aerodactyl',
 'snorlax',
 'articuno',
 'zapdos',
 'moltres',
 'dratini',
 'dragonair',
 'dragonite',
 'mewtwo',
 'mew']

In [59]:
poke_df = pd.DataFrame({"Name": pokemonList})
poke_df["Type"] = ""
poke_df["HP"] = ""
poke_df["Attack"] = ""
poke_df["Defense"] = ""
poke_df["Special Attack"] = ""
poke_df["Special Defense"] = ""
poke_df["Speed"] = ""

poke_df.head()

         Name Type HP Attack Defense Special Attack Special Defense Speed
0   bulbasaur
1     ivysaur
2    venusaur
3  charmander
4  charmeleon

In [60]:
api_url = "https://pokeapi.co/api/v2/pokemon/"

for index, row in poke_df.iterrows():
    Pokemon = row['Name']
    query_url = api_url + Pokemon
    base_response = requests.get(query_url)
#     print(f"{base_response.status_code} - {Pokemon}")
    if base_response.status_code == 200:
        response = base_response.json()
        try:
#             print(response["stats"][0]["base_stat"])
            poke_df.loc[poke_df.Name == Pokemon,'Type'] = response["types"][0]["type"]["name"]
            poke_df.loc[poke_df.Name == Pokemon,'HP'] = response["stats"][0]["base_stat"]
            poke_df.loc[poke_df.Name == Pokemon,'Attack'] = response["stats"][1]["base_stat"]
            poke_df.loc[poke_df.Name == Pokemon,'Defense'] = response["stats"][2]["base_stat"]
            poke_df.loc[poke_df.Name == Pokemon,'Special Attack'] = response["stats"][3]["base_stat"]
            poke_df.loc[poke_df.Name == Pokemon,'Special Defense'] = response["stats"][4]["base_stat"]
            poke_df.loc[poke_df.Name == Pokemon,'Speed'] = response["stats"][5]["base_stat"]
        except:
            poke_df.loc[poke_df.Name == Pokemon,'Type'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'HP'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'Attack'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'Defense'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'Special Attack'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'Special Defense'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'Speed'] = ""
    else: 
        print(f"{Pokemon} Not Found")

In [61]:
poke_df.head()

         Name   Type  HP Attack Defense Special Attack Special Defense Speed
0   bulbasaur  grass  45     49      49             65              65    45
1     ivysaur  grass  60     62      63             80              80    60
2    venusaur  grass  80     82      83            100             100    80
3  charmander   fire  39     52      43             60              50    65
4  charmeleon   fire  58     64      58             80              65    80

In [62]:
poke_df.to_csv("gen1_data.csv",index=False)